<form [formGroup]="form">
  <div class="w-full">
    <div class="tui-form__row">
      <tui-select
        formControlName="typeId"
        [valueContent]="taigaService.stringify(publicationTypes)"
      >
        Тип

        <ng-template tuiDataList>
          <tui-data-list>
            <button *ngFor="let type of publicationTypes" tuiOption [value]="type.id">
              {{ type.name }}
            </button>
          </tui-data-list>
        </ng-template>
      </tui-select>
    </div>

    <div class="tui-form__row" *ngIf="isScopus">
      <tui-input formControlName="articleNumber" [tuiTextfieldCleaner]="true"
        >Номер статті</tui-input
      >
    </div>

    <div class="tui-form__row">
      <tui-input formControlName="title" [tuiTextfieldCleaner]="true">Назва</tui-input>
    </div>

    <div class="tui-form__row" *ngIf="isScopus">
      <tui-input formControlName="scopusAuthors" [readOnly]="isScopus">Автори</tui-input>
    </div>

    <div class="tui-form__row">
      <tui-input formControlName="publicationTitle" [readOnly]="isScopus">Видавництво</tui-input>
    </div>

    <div class="tui-form__row">
      <tui-input-count formControlName="publicationYear" [readOnly]="isScopus" [max]="currentYear">
        Рік Видання
      </tui-input-count>
    </div>

    <div class="tui-form__row tui-form__row_multi-fields">
      <div class="tui-form__multi-field">
        <tui-input-count formControlName="startPage" [readOnly]="isScopus">
          Початкова Сторінка
        </tui-input-count>
      </div>

      <div class="tui-form__multi-field">
        <tui-input-count formControlName="endPage" [readOnly]="isScopus">
          Кінцева Сторінка
        </tui-input-count>
      </div>
    </div>

    <div class="tui-form__row tui-form__row_multi-fields">
      <div class="tui-form__multi-field">
        <tui-input-count formControlName="citingPaperCount" [readOnly]="isScopus">
          Кількість цитувань
        </tui-input-count>
      </div>

      <div class="tui-form__multi-field">
        <tui-input-number formControlName="printedPagesCount">
          Кількість Друкованих Аркушів
        </tui-input-number>
      </div>
    </div>

    <div class="tui-form__buttons tui-form__buttons_align_end">
      <button
        tuiButton
        class="tui-form__button"
        type="submit"
        (click)="save()"
        [disabled]="!form.valid"
      >
        Зберегти
      </button>
      <button tuiButton type="button" class="tui-form__button" appearance="flat" (click)="cancel()">
        Скасувати
      </button>
    </div>
  </div>
</form>
