<div class="flex-row">
  <tui-hosted-dropdown tuiDropdownAlign="left" [content]="dropdown" [(open)]="open">
    <button tuiButton size="m" appearance="outline">
      Завантажити додаток

      <tui-svg class="arrow" [class.arrow_open]="open" src="tuiIconChevronDown"></tui-svg>
    </button>
  </tui-hosted-dropdown>

  <ng-template #dropdown>
    <app-download-reports (download)="downloadReports($event)"></app-download-reports>
  </ng-template>
</div>

<tui-tabs class="mb-4" [(activeItemIndex)]="tabIndex">
  <button tuiTab>Публікації</button>
  <button tuiTab>Творчі зв'язки</button>
  <button tuiTab>Показники наукової діяльності</button>
</tui-tabs>

<app-publications
  class="flex-1 flex-col"
  [ngStyle]="{ display: tabIndex === 0 ? 'flex' : 'none' }"
></app-publications>

<app-creative-connections
  class="flex-1 flex-col"
  [ngStyle]="{ display: tabIndex === 1 ? 'flex' : 'none' }"
></app-creative-connections>

<app-activity-indicators
  class="flex-1 flex-col"
  [ngStyle]="{ display: tabIndex === 2 ? 'flex' : 'none' }"
></app-activity-indicators>
