<div class="flex flex-col flex-1">
  <div class="flex-row">
    <tui-input
      class="page-filter"
      icon="tuiIconSearch"
      iconAlign="left"
      [tuiTextfieldCleaner]="true"
      [tuiTextfieldLabelOutside]="true"
      [formControl]="searchCtrl"
    >
      Пошук
    </tui-input>
  </div>

  <div class="flex-row">
    <button tuiButton size="m" appearance="outline" (click)="addConference()">
      Додати
    </button>

    <button tuiButton size="m" appearance="outline" (click)="editConference()">
      Редагувати
    </button>

    <button
      tuiButton
      size="m"
      appearance="outline"
      (click)="deleteConference()"
    >
      Видалити
    </button>

    <button tuiButton size="m" appearance="outline" (click)="refresh()">
      Оновити
    </button>
  </div>

  <div class="grid-wrapper">
    <ag-grid-angular
      style="width: 100%; height: 100%"
      class="ag-theme-alpine"
      [rowData]="conferences"
      [gridOptions]="gridOptions"
    >
    </ag-grid-angular>
  </div>
</div>
